*{ 
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  height: 100%;
  width: 100% !important;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
    background: #f2eee3;
}



.backRight {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: #f2eee3 url(https://forums.macrumors.com/attachments/monterey-mac-jpg.1788406/);
  background-size: cover;
  background-position: 50% 50%;
}

.left {
  width: 50%;
  height: 100%;
  background: #2C3034;
  left: 0;
  position: absolute;
}

.content {
  width: 250px;
  margin: 0 auto;
  top: 30%;
  position: absolute;
  left: 50%;
  margin-left: -125px;
}

.content h2 {
  color: #03A9F4;
  font-weight: 300;
  font-size: 35px;
}

.submit {
  background: #03A9F4;
  padding: 10px 16px;
  width: auto;
  font-weight: 700;
  text-transform:  uppercase;
  font-size: 15px;
  color: #fff;
  line-height: 16px;
  letter-spacing: 0.5px;
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  border: 0;
  outline: 0;
  margin: 15px 15px 15px 0;
  transition: all 0.5s;
}

.submit:hover {
  background: #0288D1;
  transition: .5s;
  box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}

.pass {
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #45494C;
  font-size: 14px;
  color: #959595;
  padding: 8px 0;
  margin-top: 20px;
}

.pass:focus {
  color: #dfdddd;
  transition: .5s;
  border-bottom: 1px solid #bdbdbd;
}


.span {
  background: #808080;
  padding: 10px 16px;
  width: auto;
  font-weight: 700;
  text-transform:  uppercase;
  font-size: 15px;
  color: #fff;
  line-height: 16px;
  letter-spacing: 0.5px;
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  border: 0;
  outline: 0;
  margin: 15px 15px 15px 0;
  transition: all 1s;
}

.something {
  transition: 1s;
  background-color: #e5ed00;
}

.content2 {
  display: none;
}